<!doctype html>
<html lang="en">

<head>

    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">

    <link rel="stylesheet" href="/static/css/style.css">

    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.0.2/dist/css/bootstrap.min.css" rel="stylesheet">

    <title>Register</title>

</head>

<body>

    <div class="global-container">

        <div class="card login-form">

            <div class="card-body">
                <h1 class="card-title text-center">
                    Register
                </h1>
            </div>

            <div class="card-text">

                <form id="register-form">

                    <div class="mb-3">

                        <label class="form-label">
                            Username
                        </label>

                        <input type="text" class="form-control" id="username">

                    </div>

                    <div class="mb-3">

                        <label class="form-label">
                            Email
                        </label>

                        <input type="email" class="form-control" id="email">

                    </div>

                    <div class="mb-3">

                        <label class="form-label">
                            Password
                        </label>

                        <input type="password" class="form-control" id="password">

                    </div>

                    <div class="d-grid gap-2">

                        <button type="submit" class="btn btn-primary">

                            Register

                        </button>

                    </div>

                </form>

                <div class="text-center mt-3">

                    <a href="/" class="btn btn-success">

                        Back Login

                    </a>

                </div>

            </div>

        </div>

    </div>

    <script>

        document.getElementById("register-form")
            .addEventListener("submit",
                async function (e) {

                    e.preventDefault();

                    const username =
                        document.getElementById("username").value;

                    const email =
                        document.getElementById("email").value;

                    const password =
                        document.getElementById("password").value;

                    const response = await fetch("/register", {

                        method: "POST",

                        headers: {
                            "Content-Type":
                                "application/json"
                        },

                        body: JSON.stringify({

                            username: username,
                            email: email,
                            password: password

                        })

                    });

                    const data =
                        await response.json();

                    if (response.ok) {

                        alert("Register berhasil");

                        window.location.href = "/";

                    } else {

                        alert(data.detail);
                    }

                });

    </script>

</body>

</html>